/* @import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');
body{
  background-color: #efefef;
}
#header{
    min-height: 10px;
    /* background-color: orange; */
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    font-family: 'Six Caps', sans-serif;

    
    
}
.logo {
  text-align: center;
  justify-content: center;
  text-decoration: underline;
  font-size: 30px;

 
  
}
.topnav {
  overflow: hidden;
  background-color: #ffcfdf;
background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);



}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 5px 42px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  text-transform: capitalize;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:aqua;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}





/* #menu{
    min-height: 40px;
    background-color: white;

} */
#body{
    min-height: 400px;
    margin-top: 3%;
    background-color: #efefef;
    font-family: 'Josefin Slab', serif;
}
#hero-image {
  height: 100vh;
  background: #000 url("images/hero1.jpg") no-repeat fixed bottom;
  background-size: cover;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tag-line {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  opacity: 0.9;
}

.body2 h1{
  text-align: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffcfdf;
background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
 
  

}
.section{
  
  flex-grow: 2;
  padding: 5px 5px 0px 5px;
  flex: 1 100%;
 
  box-sizing: border-box;
  
  color: #171e42;

  flex-flow: column;
  max-width: 50%;
 
  
  
 
}
.section:hover{
  box-shadow: 3px 5px 7px #666666;
}
.section h2{
  text-decoration: underline;
  font-size: bold;
  text-transform: capitalize;
  font-family: 'Josefin Slab', serif;
}
.section p{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  
  
}



#footer{
    min-height: 100px;
    margin-top: 3%;
    background-color: #ffcfdf;
background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}

/* FOOTER */
.footer {
  width: 100%;
  font-family: 'Josefin Slab', serif;
  display: block;
}

.inner-footer {
   width: 95%;
   margin: auto;
   padding: 30px 10px;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: black;
}
.footer-items h1:hover{
  color: #ff9800;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: black;
}

.footer-items h1 {
  color: black;
}
.footer-items li:hover{
  color: #ff9800;
}

.border1 {
  height: 3px;
  width: 40px;
  background: #ff9800;
  color: #ff9800;
  background-color: #ff9800;
  border: 0px;
}

ul {
  list-style: none;
  color: black;
  font-size: 15px;
  letter-spacing: 0.5px;  
}

ul a {
  text-decoration: none;
  outline: none;
  color: black;
  transition: 0.3s;
}

ul a:hover {
  color: #ff9800;
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  padding: 4px;
  color: black;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
  color: #ff9800;
}

.footer-bottom {
  padding: 10px;
  background: #00121b;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
  .footer-items {
      width: 50%;
  }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
  .footer-items {
      width: 100%;
  }
}
  #menu, #body,#footer {


    box-shadow: 3px 5px 7px #666666;

}
@-o-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
